body {
    width: 100%;
    height: auto;
    color: rgb(85, 85, 85);
    background-color: #fff;
}

/* !!!HEADER!!! */
/* About Main header frame */
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(236, 236, 236);
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
}

/* About logo image */
.logo-image {
    width: 160px;
    height: 40px;
    margin: 0 auto;
}

.logo-image a {
    display: block;
    cursor: pointer;
}

.logo-image img {
    width: 100%;
    height: auto;
}

/* !!!user information!!! */
/* About user profile image */
.user-info .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* About user info list */
.user-info-selector {
    background-color: #fff;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 1;
}

.user-info-selector li {
    border-bottom: 1px solid rgb(236, 236, 236);
}

.user-info-selector li:last-child {
    border-bottom: none;
}

#my-profile,
#logout button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(85, 85, 85);
}

/* About mobile-menu-bar */
.proj-bar-button {
    font-size: 20px;
    cursor: pointer;
}

.go-main-button {
    font-size: 20px;
    cursor: pointer;
}
/* !!!NAV & MAIN!!! */
.main-dashboard {
    margin-top: 70px;
}

/* !!!NAV!!! */
.proj-nav {
    width: 100%;
    height: 100vh;
}

.proj-list {
    display: flex;
    flex-direction: column;
}

/* About project title */
.proj-title {
    display: none;
}

.proj-folder {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 25px 0 25px 20px;
}

/* !!!MAIN!!! */
/* About main frame */
.content-area {
    padding: 10px;
    flex-direction: column;
}

/* user create project title */
#create-proj-title {
    display: block;
    width: 240px;
    padding: 10px 5px;
    margin: 10px auto 0 auto;
    border: 1px solid rgb(96, 105, 236);
    border-radius: 5px;
    transition: border 300ms ease-in-out;
    text-align: center;
    font-weight: 700;
}

#create-proj-title:focus {
    border: 1px solid rgb(71, 79, 190);
}

/* images slide - image navgation */
.image-nav {
    width: 100%;
    height: 120px;
    overflow-x: auto;
    display: flex;
    margin: 10px 0;
}

#image-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#image-list .wait-image {
    margin: 0 10px;
    width: 60px;
    height: auto;
}

.wait-image img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* property slide - property selector */
.property-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.property-selector li {
    display: block;
    width: 100%;
    padding: 5px 0;
    background-color: rgb(236, 236, 236);
    color: rgb(85, 85, 85);
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #fff;
}

.property-selector li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.property-selector li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.property-selector li:hover {
    background-color: rgb(71, 79, 190);
    color: #fff;
}

/* select property */
.select-property li {
    display: block;
    width: 100%;
    height: 30px;
    background-color: rgb(85, 85, 85);
    border-radius: 5px;
}

/* property-color-select */
#property-color-select {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

#property-color-select span {
    width: 20px;
    height: 100%;
}

#property-color-select .red {
    background-color: rgb(226, 111, 111);
}

#property-color-select .yellow {
    background-color: rgb(255, 255, 0);
}

#property-color-select .green {
    background-color: rgb(11, 139, 11);
}

#property-color-select .blue {
    background-color: rgb(67, 67, 255);
}

#property-color-select .purple {
    background-color: rgb(126, 51, 126);
}

#property-color-select .white {
    background-color: rgb(255, 255, 255);
}

#property-color-select .black {
    background-color: rgb(0, 0, 0);
}

/* property-thickness-select */
#property-thickness-select {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

#property-thickness-select #thickness-range {
    width: 100%;
}

/* property-opactiy-select */
#property-opacity-select {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

#property-opacity-select #opacity-range {
    width: 100%;
}

.current-image-area {
    /* 사용되는 image 크기에 따라 사이즈 조절 필요*/
    margin: 0 auto;
    width: 100%;
    height: 550px;
    position: relative;
}

#current-image {
    display: block;
    width: inherit;
    height: inherit;
    position: relative;
}

#draw-box {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

#draw-canvas {
    width: 100%;
    height: 100%;
}

/* guide area frame */
.guide-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
}

.text-area,
.tts-area {
    width: 100%;
}

/* guid-area title font */
.text-area #text-title,
.tts-area #tts-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

/* guide-area textarea */
.text-area #guide-text,
.tts-area #guide-tts {
    display: block;
    margin: 10px auto 10px auto;
    width: 100%;
    border: 1px solid rgb(96, 105, 236);
    border-radius: 5px;
    resize: none;
    outline: none;
    transition: border 300ms ease-in-out;
}

.text-area #guide-text:focus,
.tts-area #guide-tts:focus {
    border: 1px solid rgb(71, 79, 190);
}

/* same checkbox */
#same-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* same checkbox label */
#same-checkbox label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

/* next image button */
#next-image-button {
    text-align: center;
    width: 100%;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    background-color: rgb(96, 105, 236);
    cursor: pointer;
}

/* media query - Tablets */
@media screen and (min-width: 768px) {
    /* !!!HEADER!!! */
    /* About Main header frame */
    header {
        height: 100px;
        justify-content: space-between;
        background-color: #fff;
    }

    /* About logo image */
    .logo-image {
        width: 200px;
        height: 50px;
        margin: 0;
    }

    /* !!!user information!!! */
    /* About user profile image */
    .user-info .user-image {
        width: 50px;
        height: 50px;
    }

    /* About user info list */
    .user-info-selector {
        top: 100px;
        right: 10px;
    }

    #my-profile,
    #logout button {
        padding: 10px 30px;
        font-size: 16px;
    }

    /* !!!NAV & MAIN!!! */
    .main-dashboard {
        display: flex;
        flex-direction: row;
        margin: 100px 20px 30px 20px;
    }

    /* !!!NAV!!! */
    .proj-nav {
        width: 150px;
        height: auto;
        flex-shrink: 0;
        text-align: center;
    }

    /* mobile style reset */
    .proj-folder {
        border: none;
        padding: 0;
    }

    /* About Project folder */
    .proj-folder {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.5;
        height: 90px;
        margin: 0 10px 20px;
        border: 2px dashed rgb(96, 105, 236);
        border-radius: 10px;
        transition: transform 300ms ease-in-out;
    }

    .proj-folder:hover {
        transform: translateY(-3px);
        background-color: rgb(71, 79, 190);
        border: none;
        color: #fff;
    }

    /* !!!MAIN!!! */
    /* About cotents frame */
    .content-area {
        width: 100%;
        margin-top: 0;
        padding-right: 10px;
    }

    /* user create project title */
    #create-proj-title {
        margin-top: 0;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgb(96, 105, 236);
        position: fixed;
        top: 30px;
        left: 230px;
    }

    #create-proj-title:focus {
        border: none;
        border-bottom: 1px solid rgb(71, 79, 190);
    }

    /* About working area */
    .working-area {
        margin-top: 10px;
    }

    /* images slide - image navgation */
    .image-nav {
        width: 100%;
        height: 180px;
        margin: 0 0 15px;
    }

    #image-list .wait-image {
        width: 90px;
        margin: 0 15px;
    }

    /* About main image - current image area */
    .current-image-area {
        width: 80%;
        height: 750px;
        flex-shrink: 0;
    }

    /* property slide - property selector */
    .property-selector {
        width: 100%;
    }

    .property-selector li {
        font-size: 15px;
        padding: 10px 0;
    }

    /* guide area frame */
    .guide-area {
        margin: 30px 10px 0;
    }

    /* guid-area title font */
    .text-area #text-title,
    .tts-area #tts-title {
        font-size: 18px;
    }

    /* same checkbox */
    #same-checkbox {
        margin-top: 20px;
    }

    /* same checkbox label */
    #same-checkbox label {
        font-size: 15px;
    }

    /* next image button */
    #next-image-button {
        margin-top: 15px;
        font-size: 15px;
        padding: 10px 0;
    }
}

/* media query - laptops */
@media screen and (min-width: 992px) {
    /* !!!NAV!!! */
    .proj-nav {
        width: 200px;
    }

    /* About Project folder */
    .proj-folder {
        height: 120px;
    }

    /* !!!MAIN!!! */
    /* About cotents frame */
    .content-area {
        width: 85vw;
    }

    /* images slide - image navgation */
    .image-nav {
        height: 265px;
    }

    #image-list .wait-image {
        width: 140px;
    }

    /* About main image - current image area */
    .current-image-area {
        width: 50%;
        height: 700px;
        flex-shrink: 0;
    }

    /* guide area frame */
    .guide-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px 30px;
    }

    .text-area,
    .tts-area {
        margin: 0 20px;
    }

    /* guid-area title font */
    .text-area #text-title,
    .tts-area #tts-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
    }

    /* guide-area textarea */
    .text-area #guide-text,
    .tts-area #guide-tts {
        font-size: 16px;
    }

    .tts-area {
        position: relative;
    }
    /* same checkbox */
    #same-checkbox {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* same checkbox label */
    #same-checkbox label {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
    }

    /* next image button */
    #next-image-button {
        display: block;
        margin: 70px auto 0 auto;
        width: 50%;
        font-size: 15px;
        padding: 12px 0;
    }
}
