body {
    width: 100%;
    height: auto;
    color: rgb(49, 49, 49);
    background-color: #fff;
}

/* !!!HEADER!!! */
/* About Main header frame */
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(236, 236, 236);
}

/* About logo image */
.logo-image {
    width: 160px;
    height: 40px;
    margin: 0 auto;
}

.logo-image a {
    display: block;
    cursor: pointer;
}

.logo-image img {
    width: 100%;
    height: auto;
}

/* About user profile image */
.user-info .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* About mobile-menu-bar */
.fa-bars {
    font-size: 20px;
    cursor: pointer;
}

/* !!!NAV & MAIN!!! */
.main-dashboard {
    margin: 30px 20px;
}

/* !!!MAIN!!! */
/* About main frame */
.content-area {
    margin: 0 auto;
    width: 100%;
}

/* About contents card */
.contents-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents-card {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* About content card title */
.contents-card .content-title {
    position: absolute;
    top: 100px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

/* About content card delete button */
.contents-card .delete-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* media query - Tablets */
@media screen and (min-width: 768px) {
    /* !!!HEADER!!! */
    /* About Main header frame */
    header {
        height: 100px;
        justify-content: space-between;
        background-color: #fff;
    }

    /* About logo image */
    .logo-image {
        width: 200px;
        height: 50px;
        margin: 0;
    }

    .user-info .user-image {
        width: 50px;
        height: 50px;
    }

    /* !!!NAV & MAIN!!! */
    .main-dashboard {
        display: flex;
        flex-direction: row;
    }

    /* !!!NAV!!! */
    .proj-nav {
        width: 200px;
        height: auto;
        flex-shrink: 0;
        text-align: center;
    }

    /* About make project button */
    .make-proj a {
        display: block;
        margin: 0 10px;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #fff;
        background-color: rgb(96, 105, 236);
        border-radius: 30px;
        cursor: pointer;
    }

    .make-proj a:hover {
        background-color: rgb(71, 79, 190);
    }

    /* About project title */
    .proj-title {
        display: none;
    }

    /* About Project folder */
    .proj-folder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin: 20px 10px;
        border: 2px dashed rgb(96, 105, 236);
        border-radius: 10px;
    }

    .proj-folder a {
        display: block;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
    }

    .proj-folder:hover {
        background-color: rgb(71, 79, 190);
        border: none;
        color: #fff;
    }

    /* !!!MAIN!!! */
    /* About cotents frame */
    .content-area {
        width: 100%;
        margin-left: 10px;
    }
}

/* media query - laptops */
@media screen and (min-width: 992px) {
    /* About contents card */
    .contents-card-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .contents-card {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
        padding: 30px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}
