* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
    background-color: #fff;
}

/* About all login form */
#login {
    background-color: #fff;
    width: 90%;
    height: auto;
    padding: 60px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
    transition: transform 300ms ease-in-out;
}

#login:hover {
    transform: translateY(-3px);
}

/* About login title & description */
.login-desc h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
}

.login-desc h4 {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 15px;
}

/* About login form */
#login-form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

/* About login form - login label */
.login-label {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

/* About login form - login form input */
.login-label ~ input {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 10px;
    height: 40px;
    transition: border 300ms ease-in-out;
}

#login-form input:focus {
    border: 1px solid rgb(96, 105, 236);
}

/* About login form - login keep */
#login-keep-frame {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

#login-keep + label {
    display: block;
    margin-left: 7px;
    font-size: 12px;
    font-weight: 400;
}

/* About login form - login button */
#login-button {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(96, 105, 236);
    cursor: pointer;
}

#login-button:hover {
    background-color: rgb(71, 79, 190);
}

/* About login form - register */
#register {
    width: 100%;
    margin-top: 20px;
}

#register-desc {
    font-size: 14px;
    font-weight: 400;
}

#register-link {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

#register-link:hover {
    color: rgb(96, 105, 236);
}

/* media query - Tablets */
@media screen and (min-width: 768px) {
    /* About all login form */
    #login {
        width: 80%;
        padding: 100px 55px;
    }

    /* About login title & description */
    .login-desc h2 {
        font-size: 28px;
    }

    .login-desc h4 {
        font-size: 16px;
        margin-top: 30px;
    }

    /* About login form */
    #login-form {
        padding-top: 30px;
    }

    /* About login form - login label */
    .login-label {
        font-size: 14px;
    }

    /* About login form - login form input */
    .login-label ~ input {
        margin-top: 5px;
        padding: 0 10px;
        height: 44px;
    }

    /* About login form - login keep */
    #login-keep-frame {
        margin-top: 20px;
    }

    #login-keep + label {
        font-size: 13px;
        font-weight: 400;
    }

    /* About login form - login button */
    #login-button {
        font-size: 14px;
        height: 44px;
    }

    /* About login form - register */
    #register {
        margin-top: 24px;
    }

    #register-desc {
        font-size: 15px;
    }

    #register-link {
        font-size: 15px;
    }
}

/* media query - laptops */
@media screen and (min-width: 992px) {
    /* About all login form */
    #login {
        width: 60%;
        padding: 100px 65px;
    }

    /* About login title & description */
    .login-desc h2 {
        font-size: 34px;
    }

    .login-desc h4 {
        font-size: 16px;
        margin-top: 40px;
    }

    /* About login form */
    #login-form {
        padding-top: 40px;
    }

    /* About login form - login label */
    .login-label {
        font-size: 15px;
    }

    /* About login form - login form input */
    .login-label ~ input {
        margin-top: 8px;
        padding: 0 15px;
        height: 46px;
    }

    #user-id {
        margin-bottom: 10px;
    }

    /* About login form - login keep */
    #login-keep-frame {
        margin-top: 20px;
    }

    #login-keep + label {
        font-size: 14px;
        font-weight: 400;
    }

    /* About login form - login button */
    #login-button {
        font-size: 15px;
        height: 48px;
        margin-top: 35px;
    }

    /* About login form - register */
    #register {
        margin-top: 24px;
    }

    #register-desc {
        font-size: 16px;
    }

    #register-link {
        font-size: 16px;
    }
}
