/* RESET CSS */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

button,
input {
    border: none;
    background: none;
    font-family: "Noto Sans KR", sans-serif;
}

button:focus,
input:focus {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li,
dl,
dt,
dd {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.selector {
    display: none;
}

.mobile-selector {
    display: none;
}

/* media query - Tablets */
@media screen and (min-width: 768px) {
    .mobile-icon {
        display: none;
    }

    .mobile-selector {
        display: block;
    }
}

/* media query - laptops */
@media screen and (min-width: 992px) {
    .mobile-icon {
        display: none;
    }

    .mobile-selector {
        display: block;
    }
}
