body {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
    background-color: #fff;
}

/* About sign up frame */
#signup {
    background-color: #fff;
    width: 90%;
    height: auto;
    padding: 45px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
    transition: transform 300ms ease-in-out;
}

#signup:hover {
    transform: translateY(-3px);
}

/* About sign up description */
#signup h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}

#signup h4 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 15px;
}

/* About sign up form */
#signup-form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

/* About sign up form - label */
label {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

/* About sign up form - input */
#signup-form input {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 10px;
    height: 40px;
    transition: border 300ms ease-in-out;
}

#signup-form input:focus {
    border: 1px solid rgb(96, 105, 236);
}

/* About login form - login button */
#signup-button {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(96, 105, 236);
    cursor: pointer;
}

#signup-button:hover {
    background-color: rgb(71, 79, 190);
}

/* media query - Tablets */
@media screen and (min-width: 768px) {
    /* About sign up frame */
    #signup {
        width: 80%;
        padding: 80px 55px;
    }

    /* About sign up description */
    #signup h2 {
        font-size: 28px;
    }

    #signup h4 {
        font-size: 18px;
        margin-top: 20px;
    }

    /* About sign up form */
    #signup-form {
        padding-top: 30px;
    }

    /* About sign up form - label */
    label {
        font-size: 14px;
    }

    /* About sign up form - input */
    #signup-form input {
        height: 44px;
    }

    /* About login form - login button */
    #signup-button {
        font-size: 14px;
        height: 44px;
        margin-top: 30px;
    }
}

/* media query - laptops */
@media screen and (min-width: 992px) {
    /* About sign up frame */
    #signup {
        width: 35%;
        padding: 80px 65px;
    }

    /* About sign up description */
    #signup h2 {
        font-size: 34px;
    }

    #signup h4 {
        font-size: 20px;
        margin-top: 30px;
    }

    /* About sign up form */
    #signup-form {
        padding-top: 40px;
    }

    /* About sign up form - label */
    label {
        font-size: 15px;
        margin-top: 12px;
    }

    /* About sign up form - input */
    #signup-form input {
        margin-top: 8px;
        padding: 0 15px;
        height: 46px;
    }

    /* About login form - login button */
    #signup-button {
        font-size: 15px;
        height: 48px;
        margin-top: 35px;
    }
}
