body {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
    background-color: #fff;
}

/* About success description frame */
#success-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 90%;
    height: auto;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
    transition: transform 300ms ease-in-out;
}

/* About logo image */
.logo-image {
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

.logo-image a {
    display: block;
    cursor: pointer;
}

.logo-image img {
    width: 100%;
    height: auto;
}

/* About success description */
#success-desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 18px;
}

/* About success description - button */
#login-link {
    display: block;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    height: auto;
    padding: 10px 0;
    margin-top: 25px;
    border-radius: 5px;
    background-color: rgb(96, 105, 236);
    color: #fff;
    cursor: pointer;
}

#login-link:hover {
    background-color: rgb(71, 79, 190);
}

/* media query - Tablets */
@media screen and (min-width: 768px) {
    /* About success description frame */
    #success-frame {
        width: 80%;
        padding: 80px 50px;
    }

    /* About logo image */
    .logo-image {
        width: 320px;
        height: 80px;
    }

    /* About success description */
    #success-desc {
        font-size: 20px;
        margin-top: 25px;
    }

    /* About success description - button */
    #login-link {
        font-size: 14px;
        padding: 14px 0;
        margin-top: 30px;
    }
}

/* media query - laptops */
@media screen and (min-width: 992px) {
    /* About success description frame */
    #success-frame {
        width: 35%;
        padding: 100px 80px;
    }

    /* About logo image */
    .logo-image {
        width: 360px;
        height: 90px;
    }

    /* About success description */
    #success-desc {
        font-size: 22px;
        margin: 30px;
    }

    /* About success description - button */
    #login-link {
        font-size: 15px;
        padding: 14px 0;
        margin-top: 20px;
    }
}
