body {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
    background-color: #fff;
}

/* About sign up frame */
#signup {
    background-color: #fff;
    width: 600px;
    height: auto;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

/* About sign up description */
#signup-desc {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 30px;
}
/* About sign up form */
#signup-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* About sign up form - label */
label {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
}

/* About sign up form - input */
#signup-form input {
    border: 0.5px solid rgb(212, 212, 212);
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 10px;
    height: 40px;
}

/* About login form - login button */
#signup-button {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(96, 105, 236);
    cursor: pointer;
}

#signup-button:hover {
    background-color: rgb(71, 79, 190);
}
